@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #1e1b29; /* Fondo morado oscuro */
  --color-text: #eae0f2; /* Texto blanco con un toque lila */
  --color-accent: #8e24aa; /* Morado intenso y sofisticado */
  --color-secondary: #512da8; /* Morado real profundo */
  --color-tertiary: #311b92; /* Violeta oscuro */
  --color-card-bg: #2a2438; /* Fondo de tarjeta morado grisáceo */
  --color-footer-bg: #16132c; /* Fondo oscuro casi negro */
}






body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch {
  animation: glitch 0.5s ease-in-out infinite;
  animation-play-state: paused;
}

.glitch:hover {
  animation-play-state: running;
}

