@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #001f3f; /* Azul oscuro profundo como fondo principal para transmitir profesionalismo */
  --color-text: #ffffff; /* Beige claro para texto legible y cálido sobre el fondo oscuro */
  --color-accent: #3a6d8c; /* Azul medio como color principal para botones y enlaces */
  --color-secondary: #6a9ab0; /* Azul claro suave para destacar elementos secundarios */
  --color-card-bg: #003057; /* Un tono más oscuro derivado del azul principal para las tarjetas */
  --color-footer-bg: #001a35; /* Azul profundo casi negro para un pie de página discreto */
}


body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch {
  animation: glitch 0.5s ease-in-out infinite;
  animation-play-state: paused;
}

.glitch:hover {
  animation-play-state: running;
}

