@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #0a0f1e; /* Fondo oscuro con un toque de azul profundo */
  --color-text: #d1f4ff; /* Azul claro brillante para el texto */
  --color-accent: #00bfff; /* Azul neón vibrante como color principal */
  --color-secondary: #ff007f; /* Rosa neón complementario */
  --color-tertiary: #00ffcc; /* Verde neón para detalles llamativos */
  --color-card-bg: #102542; /* Fondo de tarjeta azul oscuro con tonos profundos */
  --color-footer-bg: #081018; /* Fondo casi negro con una pizca de azul */
}








body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 3s ease-in-out infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-5px, 5px);
  }
  40% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  }
  80% {
    transform: translate(5px, -5px);
  }
  100% {
    transform: translate(0);
  }
}

.glitch {
  animation: glitch 0.5s ease-in-out infinite;
  animation-play-state: paused;
}

.glitch:hover {
  animation-play-state: running;
}

